body,
h1,
h2,
h3,
h4,
p,
li,
button,
input dialog,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(234, 29%, 20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.pop-up-modal {
  background-color: hsl(0, 0%, 100%);
  border-radius: 36px;
  height: 641px;
  width: 928px;
}

.inner-pop-up-modal {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(234, 29%, 20%);
}

.pop-up-modal .column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 50px;
  gap: 24px;
}
.pop-up-modal .column-1 h1 {
  font-size: 54px;
  font-weight: 700px;
}
.pop-up-modal .column-1 p {
  margin-top: 10px;
}

.email-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alert-message {
  color: hsl(4, 100%, 67%);
  display: none;
  font-size: 12px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  border: 1px gray solid;
  height: 56px;
  border-radius: 5px;
  padding-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

form button {
  margin-top: 15px;
  border: none;
  height: 56px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  font-weight: bold;
  cursor: pointer;
  padding-left: 1em;
}

form button:hover {
  background-color: hsl(4, 100%, 67%);
  -webkit-box-shadow: -1px 19px 22px 0px rgba(255, 97, 86, 0.52);
          box-shadow: -1px 19px 22px 0px rgba(255, 97, 86, 0.52);
}

.pop-up-modal .column-2 img {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

ul li img {
  margin-right: 10px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.pop-up-modal {
  display: block;
}

.confirm-message {
  display: none;
}

.image-mobile {
  display: none;
}

.inner-confirm-message {
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 0%, 100%);
  padding: 48px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 36px;
}

.confirm-message img {
  width: 64px;
}

.confirm-message h1 {
  font-size: 54px;
  max-width: 400px;
}

.confirm-message p {
  max-width: 450px;
}

.confirm-message a {
  text-decoration: none;
  color: hsl(234, 29%, 20%);
  font-weight: bold;
  display: inline;
}

.confirm-message button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  height: 56px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  .pop-up-modal {
    height: 100%;
    width: 100%;
    padding: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
  .inner-pop-up-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    width: 100%;
  }
  .column-1 {
    width: 90%;
    padding: 1em !important;
  }
  .column-1 h1 {
    width: auto;
    font-size: 35px !important;
    padding: 0;
    width: 100%;
  }
  .column-1 ul {
    width: 100%;
  }
  .column-1 .column-1 button {
    width: 100%;
    height: 45px;
  }
  .column-1 .column-1 button {
    width: 100%;
    height: 45px;
  }
  .column-1 input::-webkit-input-placeholder {
    padding-left: 2em;
  }
  .column-1 input::-moz-placeholder {
    padding-left: 2em;
  }
  .column-1 input:-ms-input-placeholder {
    padding-left: 2em;
  }
  .column-1 input::-ms-input-placeholder {
    padding-left: 2em;
  }
  .column-1 input::placeholder {
    padding-left: 2em;
  }
  .column-1 p {
    font-size: 13px;
    max-width: 300px;
  }
  .column-1 li {
    line-height: 20px;
    font-size: 12px;
    max-width: 200px;
  }
  .column-2 {
    height: 30%;
    background-color: red;
  }
  .column-2 .image-mobile {
    display: block;
    width: 100%;
  }
  .column-2 .image-desktop {
    display: none;
  }
  .inner-confirm-message {
    height: 100vh;
    padding: 1em;
  }
  .confirm-message h1 {
    font-size: 25px;
  }
}